<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= @user.errors.count %> 個の入力エラーがあります。</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>  
<% end %>
  